In [9]:
pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: wget
  Building wheel for wget (setup.py): started
  Building wheel for wget (setup.py): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9657 sha256=17776533a51eb1bd79f564373993454307b20e3cb2f41fbc9be9128314dc01d5
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\04\5f\3e\46cc37c5d698415694d83f607f833f83f0149e49b3af9d0f38
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\admin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\admin\anaconda3\lib\site-packages)

In [1]:
import pandas as pd
import numpy as np
import csv
import os
import tarfile 
from datetime import timedelta
import urllib.request

In [3]:
os.getcwd()

'C:\\Users\\manai\\Desktop\\AIRFLOW COURSERA'

In [5]:
destination = 'C:\\Users\\manai\\Desktop\\AIRFLOW COURSERA'
source = os.path.join(destination,"tolldata.tgz")
vehicle_data = os.path.join(destination,"vehicle-data.csv")
tollplaza_data = os.path.join(destination,"tollplaza-data.tsv")
payment_data = os.path.join(destination,"payment-data.txt")
csv_data = os.path.join(destination,"csv_data.csv ")
tsv_data = os.path.join(destination,"tsv_data.csv")
fixed_width_data = os.path.join(destination,"fixed_width_data.csv")
extracted_data = os.path.join(destination, "extracted_data.csv")
transformed_data = os.path.join(destination, "staging/transformed_data.csv")

In [25]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0250EN-SkillsNetwork/labs/Final%20Assignment/tolldata.tgz'

In [26]:
def download_dataset(url):   
    return  wget.download(str(url),destination)

In [27]:
download_dataset(url)

FileNotFoundError: [Errno 2] No such file or directory: '.\\home/project/airflow/dags/finalassignment/stagingkef2n46w.tmp'

In [37]:
def untar_tolldata(source,destination):
    try:
        with tarfile.open(source, "r:gz") as tgz:
            tgz.extractall(destination)
    except Exception as e:
        print(f"Error extracting {source}: {e}")

In [38]:
destination = 'rC:\\Users\\Admin\\OneDrive\\Desktop\\Airflow Coursera'

In [39]:
untar_tolldata(url,destination)

Error extracting https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0250EN-SkillsNetwork/labs/Final%20Assignment/tolldata.tgz: [Errno 22] Invalid argument: 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0250EN-SkillsNetwork/labs/Final%20Assignment/tolldata.tgz'

In [40]:
# Download tarfile and untar docs

import urllib.request
import tarfile

# Define the URL and the file name
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0250EN-SkillsNetwork/labs/Final%20Assignment/tolldata.tgz"
file_name = "tolldata.tgz"

# Download the file
urllib.request.urlretrieve(url, file_name)
print(f"Downloaded {file_name}")

# Extract the tar.gz file
if tarfile.is_tarfile(file_name):
    with tarfile.open(file_name) as tar:
        tar.extractall()
        print(f"Extracted files to the current directory")
else:
    print(f"{file_name} is not a tar file.")

Downloaded tolldata.tgz
Extracted files to the current directory

In [72]:
urllib.request.urlretrieve( "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0250EN-SkillsNetwork/labs/Final%20Assignment/tolldata.tgz",'2ndtar.tgz')

('2ndtar.tgz', <http.client.HTTPMessage at 0x1a642e47760>)

In [65]:
def extract_data_from_csv(input_file, extracted_file):
    print("Inside Extract")

    # Open the input CSV file for reading and the output CSV file for writing
    with open(input_file, 'r') as infile, open(extracted_file, 'w', newline='') as outfile:
        reader = csv.reader(infile)
        writer = csv.writer(outfile)

        for fields in reader:
            # Ensure there are at least four fields before accessing them
            if len(fields) >= 4:
                field_1 = fields[0]
                field_2 = fields[1]
                field_3 = fields[2]
                field_4 = fields[3]

                # Write the selected fields to the output CSV file
                writer.writerow([field_1, field_2, field_3, field_4])
    return

In [67]:
extract_data_from_csv(vehicle_data,csv_data)

Inside Extract

In [53]:
def extract_data_from_csv(input_file, extracted_file):
    print("Inside Extract")

    # Open the input CSV file for reading and the output CSV file for writing
    with open(input_file, 'r') as infile, open(extracted_file, 'w', newline='') as outfile:
        reader = csv.reader(infile)
        writer = csv.writer(outfile)

        for fields in reader:
            # Ensure there are at least four fields before accessing them
            if len(fields) >= 4:
                field_1 = fields[0]
                field_2 = fields[1]
                field_3 = fields[2]
                field_4 = fields[3]

                # Write the selected fields to the output CSV file
                writer.writerow([field_1, field_2, field_3, field_4])

    print("Data extraction complete")
    return

In [6]:
def download_dataset(url,filename):
    urllib.request.urlretrieve(url,filename)
    return

In [7]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0250EN-SkillsNetwork/labs/Final%20Assignment/tolldata.tgz"

In [8]:
filename = 'tolldata.tgz'

In [9]:
download_dataset(url = url,filename=filename)

In [10]:
def untar_tolldata(source,destination):
    try:
        with tarfile.open(source, "r:gz") as tgz:
            tgz.extractall(destination)
    except Exception as e:
        print(f"Error extracting {source}: {e}")

In [11]:
untar_tolldata(source = source, destination = destination)

In [12]:
def extract_data_from_csv(input_file=vehicle_data, extracted_file=csv_data):
    print("Inside Extract")

    # Open the input CSV file for reading and the output CSV file for writing
    with open(input_file, 'r') as infile, open(extracted_file, 'w', newline='') as outfile:
        reader = csv.reader(infile)
        writer = csv.writer(outfile)

        for fields in reader:
            # Ensure there are at least four fields before accessing them
            if len(fields) >= 4:
                field_1 = fields[0]
                field_2 = fields[1]
                field_3 = fields[2]
                field_4 = fields[3]

                # Write the selected fields to the output CSV file
                writer.writerow([field_1, field_2, field_3, field_4])

    print(f"Data extracted to {extracted_file}")

In [84]:
extract_data_from_csv(vehicle_data,csv_data)

Inside Extract
Data extracted to C:\Users\Admin\OneDrive\Desktop\Airflow Coursera\csv_data.csv

In [2]:
os.getcwd()

'C:\\Users\\manai\\Desktop\\AIRFLOW COURSERA'

In [19]:
def extract_data_from_tsv(input_file, extracted_file):
    print("Inside Extract")

    # Open the input TSV file for reading and the output CSV file for writing
    with open(input_file, 'r') as infile, open(extracted_file, 'w', newline='') as outfile:
        reader = csv.reader(infile, delimiter='\t')
        writer = csv.writer(outfile)

        for fields in reader:
            # Ensure there are at least four fields before accessing them
            if len(fields) >= 4:
                field_1 = fields[4]
                field_2 = fields[5]
                field_3 = fields[6]
                

                # Write the selected fields to the output CSV file
                writer.writerow([field_1, field_2, field_3])

    print(f"Data extracted to {extracted_file}")

In [20]:
extract_data_from_tsv(tollplaza_data,tsv_data)

Inside Extract
Data extracted to C:\Users\manai\Desktop\AIRFLOW COURSERA\tsv_data.csv

In [16]:
pd.read_csv(tollplaza_data,delimiter = '\t')

          1  Thu Aug 19 21:54:38 2021   125094    car  2  4856  PC7C042B7
0         2  Sat Jul 31 04:09:44 2021   174434    car  2  4154  PC2C2EF9E
1         3  Sat Aug 14 17:19:04 2021  8538286    car  2  4070  PCEECA8B2
2         4  Mon Aug  2 18:23:45 2021  5521221    car  2  4095  PC3E1512A
3         5  Thu Jul 29 22:44:20 2021  3267767    car  2  4135  PCC943ECD
4         6  Sat Aug 14 03:57:47 2021  8411850    car  2  4680  PCC422F4D
...     ...                       ...      ...    ... ..   ...        ...
9994   9996  Sun Aug 15 03:02:27 2021  3369206    car  2  4907  PCCEEF65A
9995   9997  Sat Aug  7 04:24:08 2021  5886709  truck  4  4262  PCCB12F8C
9996   9998  Mon Aug  9 02:58:26 2021   917421  truck  4  4462  PCE29AA1A
9997   9999  Tue Aug 17 18:41:00 2021  2601682  truck  4  4311  PC7F02ED3
9998  10000  Mon Aug  9 22:56:50 2021  4833266    car  2  4260  PC1A4796C

[9999 rows x 7 columns]

In [22]:
def extract_data_from_fixed_width(input_file = payment_data, extracted_file = fixed_width_data):    
    
    
    print("Inside Extract")
    # Read the contents of the file into a string
    with open(input_file, 'r') as infile, \
            open(extracted_file, 'w') as outfile:
            for field in reader:
                fields = line.split(" ")
                field_1 = fields[10]
                field_2 = fields[11]

                writer.writerow(field_1,field_2)

In [36]:
extract_data_from_fixed_width(payment_data,fixed_width_data)

TypeError: writer.writerow() takes exactly one argument (2 given)

In [35]:
def extract_data_from_fixed_width(input_file,extracted_file):
    with open(input_file,'r') as infile, open(extracted_file, 'w') as outfile:
        reader = csv.reader(infile, delimiter=' ')
        writer = csv.writer(outfile)
        for field in reader:
            field_1 = field[0]
            field_2 = field[1]
            writer.writerow(field_1,field_2)

In [38]:
pd.read_csv(payment_data,delimiter = ' ')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,1,Thu,Aug,19,21:54:38,2021,125094,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,4856,PC7C042B7,PTE,VC965
0,NaN,NaN,NaN,NaN,NaN,2,Sat,Jul,31,04:09:44,2021,174434.0,NaN,NaN,NaN,NaN,4154,PC2C2EF9E,PTP,VC965
1,NaN,NaN,NaN,NaN,NaN,3,Sat,Aug,14,17:19:04,2021,8538286.0,NaN,NaN,NaN,4070,PCEECA8B2,PTE,VC965,NaN
2,NaN,NaN,NaN,NaN,NaN,4,Mon,Aug,NaN,2,18:23:45,2021.0,5521221.0,NaN,NaN,NaN,4095,PC3E1512A,PTP,VC965
3,NaN,NaN,NaN,NaN,NaN,5,Thu,Jul,29,22:44:20,2021,3267767.0,NaN,NaN,NaN,4135,PCC943ECD,PTE,VC965,NaN
4,NaN,NaN,NaN,NaN,NaN,6,Sat,Aug,14,03:57:47,2021,8411850.0,NaN,NaN,NaN,4680,PCC422F4D,PTE,VC965,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,NaN,NaN,9996,Sun,Aug,15,03:02:27,2021,3369206,NaN,NaN,NaN,4907.0,PCCEEF65A,PTE,VC965,NaN,NaN,NaN,NaN
9995,NaN,NaN,9997,Sat,Aug,NaN,7,04:24:08,2021,5886709,NaN,NaN,NaN,4262,PCCB12F8C,PTC,VCB43,NaN,NaN,NaN
9996,NaN,NaN,9998,Mon,Aug,NaN,9,02:58:26,2021,917421,NaN,NaN,NaN,NaN,4462,PCE29AA1A,PTP,VCB43,NaN,NaN
9997,NaN,NaN,9999,Tue,Aug,17,18:41:00,2021,2601682,NaN,NaN,NaN,4311.0,PC7F02ED3,PTC,VCB43,NaN,NaN,NaN,NaN
9998,NaN,10000.0,Mon,Aug,NaN,9,22:56:50,2021,4833266,NaN,NaN,NaN,4260.0,PC1A4796C,PTE,VC965,NaN,NaN,NaN,NaN